:root {
  --header-height: 48px;
  --layout-padding-horizontal: 0.5rem;
  --box-shadow-base: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-lg: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  --box-shadow-sm: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
