@import './variables.scss';

header,
main,
footer {
  @apply w-full;
}

header {
  @apply fixed px-5;

  color: #fff;
  z-index: 1000;
  height: $header-height;
  line-height: $header-height;

  .navbar {
    @apply flex justify-between h-full;

    .navbar__logo {
      .navbar__logo__link {
        @apply h-full flex items-center;
      }
    }

    .navbar__menus {
      display: flex;
    }
  }

  .navbar__info {
    @apply relative font-san flex items-center;

    .navbar__info__btn {
      @apply w-6 h-6 focus:outline-none;
    }

    .navbar__info__dropdown {
      display: none;
      color: #000;
      width: 240px;
      @apply absolute top-full bg-white rounded px-2 py-3 shadow-lg right-0;

      &.active {
        display: block;
      }

      .navbar__info__dropdown__menu {
        @apply flex flex-col;
      }

      a {
      }
    }
  }
}

main {
}

footer {
}
