.modal-global {
  @apply absolute inset-0 h-full w-full flex items-center justify-center opacity-0 transition duration-300;
  z-index: -1000;

  .modal__container {
    @apply relative;
  }

  &.active {
    @apply opacity-100;
    z-index: 10;
    background-color: #ffffff7a;

    .modal__container {
    }
  }
}
