.interview-contain {
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  padding: var(--layout-padding);

  .question-contain {
    border: 1px solid black;
    height: 100%;

    .question-list {
      position: sticky;
      top: calc(var(--header-height) + var(--layout-padding));
    }
  }

  .answer-contain {
    border: 1px solid black;
  }
}
