.wrapper {
  box-shadow: var(--box-shadow-base);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  background-color: #fff;

  .contain {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    padding: 10px var(--layout-padding);
  }
}
